.jumbotron {
    padding-top: 6rem;
    background-color: #EAFDFC;
    color: rgba(0, 0, 0, 0.9);
}

#section1 {
    background-color: #BFEAF5;
    color: rgba(0, 0, 0, 0.9);
}

#section2 {
    background-color: #91D8E4;
    color: rgba(0, 0, 0, 0.9);
}

#section3 {
    background-color: #82AAE3;
    color: rgba(0, 0, 0, 0.9);
}

section {
    padding-top: 5rem;
}

.nav-link:hover {
    transform: scale(1.06);
    transition: all 0.1s ease 0s;
}

#submit:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}
